aside {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: fit-content;
    height: 100vh;
}

aside p {
    position: relative;
    top: 4.6rem;
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

aside img {
    display: flex;
    margin: 0.5rem 2rem 0.5rem 2rem;
    width: 3rem;
}